<div class="user-game-cards">
  <%# add c controller stimulus to listen click and update the strong params %>
  <div class="user-game-card" data-controller="challenge">
<<<<<<< HEAD
    <%= turbo_frame_tag :challenge_form do %>
      <% @challenges.each do |challenge| %>
=======
      <%= turbo_frame_tag :challenges do %>

      <h2><% @challenges.each do |challenge| %></h2>
>>>>>>> master
        <button class="button-game" data-challenge-target="idChallenge" data-challenge-id=<%= challenge.id %>> <%= challenge.title %> </button>
      <% end %>
      <%= render "form" %>
    <% end %>
  </div>
</div>
