<h1>hello</h1>
<%= link_to 'challenges', challenges_path %>
<%= link_to 'expenses', expenses_path %>
<%= link_to 'User Challenge', user_game_index_path %>
<%# <%= link_to 'City', cities_path(current_user.city_id) %> %>

<div data-controller="searchbutton">
  <%= render "shared/navigation_button" %>
</div>
