<div class="user-game-cards">
  <h1>Your challenges</h1>
  <p>Hello, <%= current_user.nickname %>!<br></p>

  <div class="user-game-card">
    <% if UserGame.where(user_id: current_user).empty? %>
      <p>You have no challenges yet!</p>
    <% else %>
      <p>All your challenges:</p>
      <% @user_games.each do |user_game| %>
        <%= turbo_frame_tag :user_games do %>
          <%= render "user_game", user_game: user_game %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
  <%= turbo_frame_tag :user_game_form do %>
  <% end %>
</div>

<div class="link_to_back">
    <%= link_to "add a challenge", new_user_game_path , data:{turbo_frame: :user_game_form}, class:"button-add text-decoration-none" %>
</div>

<%= link_to "?", help_path, class: "button-help text-decoration-none" %>


<div class="link_to_back">
    <a class="btn button-add" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
      Save My Wallet - the Disclaimer
    </a>
  <div class="collapse" id="collapse">
    <div class="card card-body">
    <p>First of all, we would like to thank you for using our app. We hope you will enjoy it as much as we enjoyed creating it.</p>
    <p>Save My Wallet is a fun game designed to guide you in your expenses.</p>
    <p>Our purpose is to help everybody improving their expenses behavior to avoid red-end of month, and to become proud of your savings. Be your own captain and never return in the red zone.</p>
    <p>Designed with our <i class="fa-solid fa-heart" style="color: #ff0000;"></i>, by Audrey Pachol, Leslie Rados, Quentin Ribardière and Niels Ayigbede at <a href="https://www.lewagon.com/" target="_blank" decoration="none" style="color: #ff0000;"> Le Wagon On-Line Bootcamp.</a></p>
    <br>
    </div>
  </div>
</div>
