<div class="user-game-cards">
  <h1>Your challenges</h1>
  <p>Hello, <%= current_user.nickname %>!<br></p>

  <div class="user-game-card">
    <% if current_user.user_game_id.nil? %>
      <p>You have no challenges yet!</p>
    <% else %>
      <p>All your challenges:</p>
      <% @user_games.each do |user_game| %>
        <%= turbo_frame_tag :user_game do %>
          <%= render "user_game", user_game: user_game %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag :user_game_form do %>
  <% end %>

  <div class="link_to_back">
      <%= link_to "add a challenge", new_user_game_path , data:{turbo_frame: :user_game_form}, class:"button-add" %>
  </div>


</div>
