<div class="cards-dahsboard">
  <h1> <%= @user.nickname %> dashboard</h1>
  <div class="card-dashboard">
    <h3>Expense by categories</h3>
      <%= pie_chart Expense.group(:category).sum(:amount), donut: true, width: "242px", height: "375px", colors: ["#2973CD","#29AACD","#29C6CD", "#FEA386","#FED086","#F18484", "#F19584"]%>

    <h3>Expense by day</h3>
      <%= column_chart Expense.group_by_day_of_week(:expense_date, format: "%a").sum(:amount), ytitle:"Amount", width: "240px", height: "327px", colors: ["#29C6CD"] %>
      <%= area_chart Expense.group_by_day_of_month(:expense_date).maximum(:amount), width: "240px", height: "327px", xmin:"1", xmax: "31",  ytitle:"Amount", xtitle:"Month's days", colors: ["#F18484"]%>

    <h3>Expense by month</h3>
    <%= bar_chart Expense.group_by_month(:expense_date, format: "%b").maximum(:amount), xtitle:"Amount", width: "240px", height: "327px",color: ["#FED086"] %>
  </div>
</div>
