<div id="<%= dom_id challenge %>">
  <p>
    <strong>Title:</strong>
    <%= challenge.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= challenge.description %>
  </p>

  <p>
    <strong>Badge:</strong>
    <%= challenge.badge %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= challenge.level %>
  </p>

</div>
