<div class="cards-challenges">
  <h1><%= @challenge.title %></h1>
    <div class="card-challenges-show">
      <h2><%= @challenge.description %></h2>
      <h2><%= @challenge.badge %></h2>
      <p><%= @challenge.level %></p>
    </div>
  <%= link_to 'Back to challenges', challenges_path %>
</div>
