<div class="card-challenges-show">
  <h2><%= @challenge.title %></h2>
    <p><i class="fa-regular fa-comment-dots"></i> <%= @challenge.description %></p>
    <p><i class="fa-solid fa-trophy"></i> <%= @challenge.badge %></p>
    <p><i class="fa-solid fa-arrow-trend-up"></i> <%= @challenge.level %></p>
</div>

<div class="link_to_back">
  <%= link_to 'Back to challenges', challenges_path, class:"button-add" %>
</div>
