<div class="container">
<br>
  <h1><%= @challenge.name %></h1>
  <h3><%= @challenge.description %></h3>
  <h3><%= @challenge.badge %></h3>
  <h3><%= @challenge.level %></h3>
<br>
<%= link_to 'Back to challenges', challenges_path %>
</div>
