<<<<<<< HEAD
<%= simple_form_for @expense do |f| %>
=======
<div class="container-new-expense">
  <%= simple_form_for @expense do |f| %>
>>>>>>> master
    <%= f.input :title %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :amount %>
<<<<<<< HEAD
    <%= f.button :submit %>
<% end %>
=======
    <%= f.button :submit, class: "button-add", style: "margin:auto" %>
  <% end %>
</div>
>>>>>>> master
