  <div class="card-expense-show">
    <h2><%= @expense.title %></h2>
    <p> <%= @expense.category %> </p>
    <p><%= @expense.amount %> €</p>
    <p><%= @expense.description %></p>
    <p><%= @expense.created_at %></p>
  </div>
