  <div class="card-expense-show">
    <h2><%= @expense.title %></h2>
    <p id="category"> <%= @expense.category %> </p>
    <p id="description"><i class="fa-regular fa-comment-dots"></i> <%= @expense.description %></p>
    <p><i class="fa-solid fa-coins"></i> <%= @expense.amount %> €</p>
    <p><i class="fa-regular fa-calendar"></i> <%= @expense.created_at %></p>
  </div>

    <%= link_to "Back to list", expenses_path %>
